/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

section {
    width: 80%;
    margin: 0 auto;
}


.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(100% / 3 - (40px / 3));
    border: solid 1px #ccc;
    position: relative;
}

.discount-label {
    padding: 5px 10px;
    color: #fff;
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.red-discount {
    background-color: red;
}





/* DEBUG */
/* .card {
    background-color: blueviolet;
    height: 100px;
} */