/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    /* DEBUG */
    background-color: blue;
}

main {
    /* height: calc(100vh - 250px); */
    flex-grow: 1;
    overflow: auto;
    /* DEBUG */
    background-color: blueviolet;
}


footer {
    height: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    /* DEBUG */
    background-color: brown;
}