/* regole generali */
a {
    text-decoration: none;
}

/* regole header */
header {
    position: fixed;
    width: 100%;
    z-index: 900;
}


/* regole parte contenuto principale */

.flex-container {
    padding-top: 150px;
    margin: 20px 0;
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 10px;
}

.sidebar {
    width: 25%;
    position: relative;
}

main {
    /* width: 48%; */
    flex-grow: 1;
}

h2 {
    color: #fff;
    font-size: 12px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: chartreuse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.sidebar:hover .box {
    display: block;
}



/* DEBUG */
header,
footer {
    height: 100px;
    background-color: blue;
}

.sidebar {
    min-height: 200px;
    background-color: brown;
}

main {
    min-height: 350px;
    background-color: blueviolet;
}