/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 150px;
    /* DEBUG */
    background-color: blue;
}

main {
    height: calc(100vh - 250px);
    overflow: auto;
    /* DEBUG */
    background-color: blueviolet;
}


footer {
    height: 100px;
    /* DEBUG */
    background-color: brown;
}