/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blueviolet;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

/* versione tablet */
@media screen and (min-width:768px) {

    header {
        background-color: blue;
    }
}


/* versione desktop */
@media screen and (min-width:1200px) {

    header {
        background-color: burlywood;
        font-size: 20px;
    }
}