/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-bottom: 10px;
}

/* versione big smartphone */
@media screen and (min-width:479px) {

    .container {
        display: flex;
        gap: 10px;
    }

    .box {
        background-color: rgb(255, 0, 128);
        margin-bottom: 0;
    }

}