/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    margin: 20px;
}

.col1 {
    height: 100px;
    background-color: blue;
}

.col2 {
    display: none;
}

/* tablet */
@media screen and (min-width:780px) {

    ul {
        display: flex;
        list-style-type: none;
        /* justify-content: space-between; */
        gap: 10px;
    }

    li {
        flex-grow: 1;
    }

    a {
        background-color: gray;
        color: #fff;
        display: block;
        text-align: center;
    }

}

/* desktop */
@media screen and (min-width:1024px) {

    .container {
        display: flex;
        justify-content: space-between;
    }

    .col1 {
        flex-basis: 60%;
    }

    .col2 {
        display: block;
        flex-basis: 35%;
        background-color: green;
    }

}