/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.col {
    flex-basis: 23%;
}

.img-float {
    width: 150px;
    float: left;
}

.clerafix::after {
    content: "";
    display: table;
    clear: both;
}


/* tablet */
@media screen and (max-width:768px) {

    .container {
        flex-wrap: wrap;
    }

    .col {
        flex-basis: 48%;
        margin-bottom: 20px;
    }

}

/* smartphone */
@media screen and (max-width:480px) {

    .container {
        display: block;
    }

    .col {
        width: 100%;
    }

}




/* DEBUG
.col {
    background-color: blueviolet;
    min-height: 100px;
} */