/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

section {
    width: 80%;
    margin: 0 auto;
}


.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(100% / 3 - (40px / 3));
    border: solid 1px #ccc;
    position: relative;
    cursor: pointer;
}

.discount-label {
    padding: 5px 10px;
    color: #fff;
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.red-discount {
    background-color: red;
}

.cuore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: red;
    display: none;
    background-color: rgb(0, 0, 0, .5);
}

.fa-heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover .cuore {
    display: block;
}





/* DEBUG */
/* .card {
    background-color: blueviolet;
    height: 100px;
} */