/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    height: calc(100vh - 100px);
    display: flex;
    /* DEBUG */
    background-color: blueviolet;
}

.sidebar {
    flex-basis: 250px;
    flex-shrink: 0;
    height: 100%;
    /* DEBUG */
    background-color: black;

}

.content {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    /* DEBUG */
    background-color: green;
}

footer {
    height: 100px;
    /* DEBUG */
    background-color: brown;
}

@media screen and (max-width:600px) {

    .sidebar {
        flex-basis: 100px;


    }

}