.flex-container {
    margin: 20px 0;
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 10px;
}

.sidebar {
    width: 25%;
}

main {
    /* width: 48%; */
    flex-grow: 1;
}




/* DEBUG */
header,
footer {
    height: 100px;
    background-color: blue;
}

.sidebar {
    min-height: 200px;
    background-color: brown;
}

main {
    min-height: 350px;
    background-color: blueviolet;
}