.flex-container {
    margin: 20px 0;
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    width: 25%;
}

main {
    width: 72%;
}




/* DEBUG */
header,
footer {
    height: 100px;
    background-color: blue;
}

nav {
    min-height: 200px;
    background-color: brown;
}

main {
    min-height: 350px;
    background-color: blueviolet;
}